* {
	box-sizing: border-box;
}

body {
	background-color: #f7f7f7;
}

.mainContainer {
	display: flex;
	/*flex-wrap: wrap;*/
	justify-content: center;
	align-items: center;
	background-color: #fff;
	width:50vw;
	min-height: 50vh;
	margin: 25vh 25vw 25vh 25vw;	
	box-shadow: 0 2px 10px 0 rgba(136,141,155,0.2);
}

.loginBox {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 50%;
	margin: auto auto auto auto;		
}

.userName {	
	width: 100%;
	margin: auto;
	margin-bottom: 2px;	
}

.pass {
	width: 100%;
	margin: auto;
	display:inline-block;	
	margin-bottom: 2px;
	-webkit-text-security: disc;
}

input {
	font-family: "Baskerville", "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;;
}

.submit {
	cursor: pointer;
}